
body {
  margin: 0;
  padding: 0;
}
.outertable{
  background: #f4f4f4 url(https://storetemplate.googlecode.com/svn/trunk/img/bodybgwrapper.gif) scroll center;
  font-family: Verdana,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  line-height: 17px;
  color: #555555;
}
.outerWrapper
{
width:100%;
background:  url(https://storetemplate.googlecode.com/svn/trunk/img/bodybg.gif) repeat-y scroll center;
margin:0;
padding:0;
}

#wrapper {
  margin: 2px auto;
  padding: 0;
  background: #ffffff none repeat scroll 0% 50%;
  width: 900px;
}
a {
  background: transparent none repeat scroll 0% 50%;
  color: #631e19;
  text-decoration: underline;
}
a:hover {
  background: transparent none repeat scroll 0% 50%;
  color: #894e4e;
  text-decoration: underline;
}
p {
  margin: 0;
  padding-top: 2px;
}
.logo_description{
	width: 375px;
}
h2 {
  border-bottom: 2px dotted #444444;
  margin: 0 0 2px;
  padding: 0px 0 4px 0px;
  background: transparent none repeat scroll 0% 50%;
  font-weight: bold;
  font-size: 12px;
  color: #444444;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
img {
  border:  none;
}
.logotitle{
width:380px;
height:36px;
}
h4 {
  margin: 0;
  padding:0;
  width:240px;
  float:left;
  /*font-family: 'HelveticaNeue-CondensedBold','Arial Narrow',Helvetica,Arial,sans-serif;*/
  font-family:  "Edwardian Script ITC",'Arial Narrow',Helvetica,Arial,sans-serif;;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
}
h5{
  width:140px;
  height:36px;
  padding-top:9px;
  float:left;
  /*font-family: 'HelveticaNeue-CondensedBold','Arial Narrow',Helvetica,Arial,sans-serif;*/
  font-family: Perpetua,Meiryo,'Arial Narrow',Helvetica,Arial,sans-serif;;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 30px;
  margin:0;
}
.pic {
  margin-top: 8px;
}
#header {
  margin: 0;
  background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/header.jpg) no-repeat scroll 0% 50%;
  clear: both;
  width: 900px;
  height: 80px;
}

#title h3 {
  margin: 0;
  padding: 5px 0 0;
  font-size: 12px;
  color: #444444;
}
#hright {
  margin-top:20px;
  float: right;
  width: 270px;
  height: auto;
}
.search_form{
margin-top:0px;
padding:0;
height:25px;
}

.search_form img{
padding-left:2px;
}
input.search_input{
width:150px;
height:21px;
float:left;
margin:0;
border:1px solid #dbdbdb;
border-bottom-color:#ffffff;
border-right-color:#ffffff;
}
.search_text{
padding-top:2px;
float:left;
width:auto;
color:#999999;
}

#title p {
  padding: 0;
  font-size: 0.9em;
  color: #808080;
}
#menu {
  margin-top:20px;
  padding: 0;
  width: 500px;
  float: left;
  text-align: left;
}

#menu li {
  display: inline;
}
#menu li a {
  padding: 1px 10px;
  background: transparent none repeat scroll 0% 50%;
  color: #444444;
  text-decoration: none;
  height: 19px;
}
#menu li a:hover {
  background: transparent none repeat scroll 0% 50%;
  color: #631e19;
}
#homepic {
  margin: 5px 0 10px;
  background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/homepic.jpg) no-repeat scroll 0% 50%;
  width: 900px;
  height: 250px;
}
#homepic a {
  color: #ffffff;
}
#homepic:hover {
  background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/homepichover.jpg) no-repeat scroll 0% 50%;
}
.message {
  margin: 70px 0px 0px 165px;
  position: absolute;
  width: 380px;
  float: left;
  color: #ffffff;
}
#bottomcontenttop {
  height: 10px;
}
#bottomcontent {
  width: 100%;
  min-height: 900px;
  height:auto !important;
height:900px; 
}
#bottomcontentbtm {
  background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/b_contentbtm.jpg) no-repeat scroll 0% 50%;
  width: 900px;
  height: 10px;
}
.left {
  margin: 0 6px 5px 0;
  padding: 10px;
  float: right;
  width: 270px;
}
.middle {
  margin: 0 6px 5px 0;
  padding: 10px;
  float: right;
  width: 270px;
}
.right {
  margin: 0 6px 5px 0;
  padding: 10px;
  float: right;
  width: 270px;
}
.thumbs img {
  border: 2px solid #631e19;
  margin: 5px 8px 5px 9px;
  padding: 1px;
  background: transparent none repeat scroll 0% 50%;
  position: relative;
}
.thumbs img:hover {
  border: 2px solid #c5c5c5;
  background: transparent none repeat scroll 0% 50%;
}
#footer {
  margin: 10px 0 0;
  padding: 4px 0;
  background: #ffffff none repeat scroll 0% 50%;
  clear: both;
  text-align: center;
  line-height: 1.8em;
  color: #444444;
}
#footer a {
  color: #631e19;
}
.left_content {
  width: 196px;
  float: left;
}
.title_box {
  margin: 5px 0 0;
  background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/menu_title_bg.png) no-repeat scroll center;
  text-align: center;
  line-height: 30px;
  height: 30px;
  color: #ffffff;
  width: 196px;
  font-size: 13px;
  font-weight: bold;
}
ul.left_menu {
  border-style: none solid none;
  border-width: 0px 1px 0px;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  margin: 0px;
  padding: 0px;
  width: 194px;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
ul.left_menu li {
  margin: 0px;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
ul.left_menu li.odd a {
  border-bottom: 1px solid #ffffff;
  background: #f1f3f2 none repeat scroll 0% 50%;
  text-decoration: none;
  width: auto;
  height: 25px;
  line-height: 25px;
  padding-left: 30px;
  display: block;
  color: #504b4b;
}
ul.left_menu li.even a {
  border-bottom: 1px solid #ffffff;
  background: #f5f5f5 none repeat scroll 0% 50%;
  line-height: 25px;
  text-decoration: none;
  width: auto;
  padding-left: 30px;
  height: 25px;
  display: block;
  color: #504b4b;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover {
  background: #813e3d;
  width: auto;
  height: 25px;
  display: block;
  text-decoration: none;
  line-height: 25px;
  color: #ffffff;
  font-weight:bold;
}
.left_menu_bottom {
   background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/menu_border_bot.png) 	no-repeat;
  width:196px;
  height: 10px;
margin:0px;
padding:0px;

}

.border_box {
  border-style: none solid none;
  border-width: 0px 1px 0px;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  background: #f5f5f5;
  margin: 0px;
  padding: 0px;
  width: 194px;
  text-align: center;
  height: auto;
}
.bottom_right_top{
  width:694px;
  height:10px;
   background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/b_contenttop.jpg) 	no-repeat;


}
.bottom_right_middle{
  border-style: none solid none;
  border-width: 0px 1px 0px;
  border-left:  1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  width:692px;
  min-height: 500px;
  height:auto !important;
  padding: 0px;
}
.bottom_right_bot{
   width:694px;
   height:10px;
   background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/b_contentbtm.jpg) 	no-repeat;
}


.bottom_right_content{
  float:left;
  margin-left:10px;
margin-top:5px;
  width:694px;
   min-height: 500px;
  height:auto !important;
  text-align: left;
}

.tit {
font-size: 16px;
color: #efefef;
background-image: url(https://storetemplate.googlecode.com/svn/trunk/img/ListingTitle.jpg);
background-repeat: repeat-y;
background-position: center center;
height: 40px;
line-height: 40px;
}
.gray-border {
border: 5px solid #dfdfdf;
}
.line {
font-size: 15px;
color:8b8b8b;
font-weight:bold;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #D6D5D3;
padding-left:15px;
}

.subline{
font-size:12px;
margin-top:15px;
margin-left:15px;
margin-right:15px;
line-height: 25px;
font-weight: normal;
color:8b8b8b;
text-align: justify;
}

.tabtitle{
font-family:Verdana, Helvetica, sans-serif;
font-size:14px;
margin-top:15px;
margin-bottom:10px;
margin-left:15px;
font-weight:bold;
color:8b8b8b;
text-align: justify;
}
.tabline{
font-family:Verdana, Helvetica, sans-serif;
font-size:13px;
margin-top:15px;
margin-left:15px;
margin-right:15px;
margin-bottom:15px;
line-height: 20px;
font-weight: normal;
color:8b8b8b;
text-align: justify;
}
.subline span{font-weight:bold; margin-right:5px;}
td.kdwhdTABSBG {
border-right-width: 1px;
border-left-width: 1px;
border-right-style: solid;
border-left-style: solid;
border-right-color: #c9c9c9;
border-left-color: #c9c9c9;
border-top-width: 0px;
border-top-style: none;
background-color: #ffffff;
border-bottom-width: 0px;
border-bottom-style: none;
margin: 0px;
padding: 0px;
}
td.kdwhdTABSBG p {
font-family: Tahoma;
font-size: 13px;
line-height: 18px;
color: #000000;
text-align: justify;
font-weight: normal;
text-decoration: none;
margin-top: 9px;
margin-right: 15px;
margin-bottom: 9px;
margin-left: 15px;
padding: 0px;
}
td.kdwhdTABSBG ul {
font-family: Tahoma;
font-size: 14px;
line-height: 18px;
color: #000000;
text-align: justify;
font-weight: normal;
text-decoration: none;
margin-top: 9px;
margin-right: 15px;
margin-bottom: 9px;
margin-left: 15px;
padding: 0px;
}
#kdwhdTAB1, #kdwhdTAB2, #kdwhdTAB3, #kdwhdTAB4, #kdwhdTAB5 {
font-family: Tahoma;
font-size: 18px;
color: #000000;

text-decoration: none;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
#kdwhdTAB2, #kdwhdTAB3, #kdwhdTAB4, #kdwhdTAB5 {
padding: 0px;
display: none;
margin: 0px;
}
/*
ul.kdwhdTABS {
display: block !important;
cursor: pointer;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
list-style-image: none;
list-style-type: none;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 18px;
margin: 0px;
height: 35px;
width: 730px;
color: #000000;
}
*/
ul.kdwhdTABS {
display: block !important;
cursor: pointer;
text-align: center;
font-size: 14px;
font-weight: bold;
list-style-image: none;
list-style-type: none;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 18px;
margin: 0px;
height: 31px;
width: 660px;
color: #000000;
}
/*
ul.kdwhdTABS li {
display: inline;
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
line-height: 35px;
color: #FFFFFF;
padding: 0px;
margin-top: 0px;
margin-right: 2px;
margin-bottom: 0px;
margin-left: 0px;
}
*/
ul.kdwhdTABS li {
display: inline;
float:left;
font-size: 18px;
font-weight: bold;
line-height: 31px;
color: #FFFFFF;
padding: 0px;
margin-top: 0px;
margin-right: 2px;
margin-bottom: 0px;
margin-left: 0px;
}
/*
ul.kdwhdTABS a:link, ul.kdwhdTABS a:visited {
display: block;
height: 35px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight:bold;
color: #b3b3b3;
line-height: 35px;
background-image: url(http://www.powersellertemplates.com/ardordesigner/listing/images/tab_visible.jpg);
background-repeat: no-repeat;
background-position: center bottom;
width: 174px;
margin: 0px;
padding: 0px;
}
*/
ul.kdwhdTABS a:link, ul.kdwhdTABS a:visited {
display: block;
height: 31px;
text-decoration: none;
font-size: 15px;
font-weight:bold;
color: #8b8b8b;
line-height: 31px;
background-image: url(https://storetemplate.googlecode.com/svn/trunk/img/tabgray.jpg);
background-repeat: no-repeat;
background-position: center bottom;
width: 152px;
margin: 0px;
padding: 0px;
}
/*
ul.kdwhdTABS a:hover {
display: block;
height: 35px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight:bold;
color: #CCCCCC;
line-height: 35px;
background-image: url(http://www.powersellertemplates.com/ardordesigner/listing/images/tab_visible.jpg);
background-repeat: no-repeat;
background-position: center bottom;
width: 174px;
margin: 0px;
padding: 0px;
}*/

ul.kdwhdTABS a:hover {
display: block;
height: 31px;
text-decoration: none;
font-size: 15px;
font-weight:bold;
color: #555555;
line-height: 31px;
background-image: url(https://storetemplate.googlecode.com/svn/trunk/img/tabgray.jpg);
background-repeat: no-repeat;
background-position: center bottom;
width: 152px;
margin: 0px;
padding: 0px;
}
/*
ul.kdwhdTABS a:active {
display: block;
height: 35px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight:bold;
color: #FFFFFF;
line-height: 35px;
background-image: url(http://www.powersellertemplates.com/ardordesigner/listing/images/tab_active.jpg);
background-repeat: no-repeat;
background-position: center bottom;
width: 174px;
margin: 0px;
padding: 0px;
}*/
ul.kdwhdTABS a:active {
display: block;
height: 31px;
text-decoration: none;
font-size: 15px;
font-weight:bold;
color: #efefef;
line-height: 31px;
background-image: url(https://storetemplate.googlecode.com/svn/trunk/img/tabgrey.jpg);
background-repeat: no-repeat;
background-position: center bottom;
width: 152px;
margin: 0px;
padding: 0px;
}
/*
span.kdwhdTABS {
display: block;
height: 35px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight:bold;
color: #333333;
background-image: url(http://www.powersellertemplates.com/ardordesigner/listing/images/tab_active.jpg);
background-repeat: no-repeat;
background-position: center bottom;
width: 174px;
line-height: 35px;
margin: 0px;
padding: 0px;
}
*/

span.kdwhdTABS {
display: block;
height: 31px;
text-decoration: none;
font-size: 15px;
font-weight:bold;
color: #efefef;
background-image: url(https://storetemplate.googlecode.com/svn/trunk/img/tabred.jpg);
background-repeat: no-repeat;
background-position: center bottom;
width: 152px;
line-height: 31px;
margin: 0px;
padding: 0px;
}

.description_middle{
  border-style: none solid none;
  border-width: 0px 1px 0px;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  width:658px;
  min-height: 200px;
  height:auto !important;
  padding: 0px;
}
.description_top{
   width:660px;
   height:10px;
   background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/descriptiontop.jpg) 	no-repeat;
}
.description_bot{
   width:660px;
   height:10px;
   background: transparent url(https://storetemplate.googlecode.com/svn/trunk/img/descriptionbottom.jpg) 	no-repeat;
}


